<div ng-controller="AddImageCtrl">
    <div ng-include="'header/views/header.html'"></div>
    <div class="container">
        <form class="form-horizontal" ng-submit="AddImages(files)">
                <legend>Add Images</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="pictures">Add Pictures</label>
                    <div class="col-md-4">
                        <input id="pictures" type="file" ngf-select ng-model="files" name="file" accept="image/*" ngf-max-size="2MB" ngf-keep="true" multiple ngf-keep-distinct="true" class="btn btn-primary" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2" ng-repeat="file in files">
                            <img ngf-thumbnail="!file.$error && file" class="thumb"> <span class="glyphicon glyphicon-remove-circle" ng-click="remove(files, $index)"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <button type="button" ladda-loading="login.loading" data-style="expand-right" class="btn btn-primary segoe-ui-light ladda-button" ng-disabled="!files" ng-click="AddImages(files)"><span class="ladda-label">Upload</span></button>
                    </div>
                </div>
        </form>
    </div>
</div>
