<div ng-controller="AddPostCtrl">
    <div ng-include="'header/views/header.html'"></div>
    <div class="container">
        <form class="form-horizontal" ng-submit="AddPost()">
            <fieldset>
                <legend>Create Post</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtTitle">Title</label>
                    <div class="col-md-4">
                        <input id="txtTitle" name="txtTitle" ng-model="article.title" type="text" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtPost">Post</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="txtPost" ng-model="article.post" name="txtPost"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <button type="button" ladda-loading="login.loading" data-style="expand-right" class="btn btn-primary segoe-ui-light ladda-button" ng-disabled="!article.title || !article.post" ng-click="AddPost()"><span class="ladda-label">Publish</span></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
