<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title></title>
    <link rel="stylesheet" href="theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="theme/css/blog.css">
    <link rel="stylesheet" href="theme/css/ladda-themeless.min.css">
    <script type="text/javascript" src="js/spin.min.js"></script>
    <script type="text/javascript" src="js/ladda.min.js"></script>
</head>

<body ng-controller="AddPostCtrl">
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item" href="#/welcome">Home</a>
                <a class="blog-nav-item active" href="#/addPost">Add Post</a>
                <a class="blog-nav-item" href="#/addImage">Upload Image</a>
                <a class="blog-nav-item" style="cursor:pointer;" ng-click="logout();">Logout</a>
            </nav>
        </div>
    </div>
    <div class="container">
        <form class="form-horizontal" ng-submit="AddPost()">
            <fieldset>
                <legend>Create Post</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtTitle">Title</label>
                    <div class="col-md-4">
                        <input id="txtTitle" name="txtTitle" ng-model="article.title" type="text" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtPost">Post</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="txtPost" ng-model="article.post" name="txtPost"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <button type="button" ladda-loading="login.loading" data-style="expand-right" class="btn btn-primary segoe-ui-light ladda-button" ng-disabled="!article.title || !article.post" ng-click="AddPost()"><span class="ladda-label">Publish</span></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>
