<div ng-controller="NavbarCtrl" class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" ng-class="{active : isRouteActive('/welcome')}" href="#/welcome">Home</a>
            <a class="blog-nav-item " ng-class="{active : isRouteActive('/addPost')}" href="#/addPost">Add Post</a>
            <a class="blog-nav-item " ng-class="{active : isRouteActive('/addImage')}" href="#/addImage">Upload Image</a>
            <a class="blog-nav-item " href="#" ng-click="logout();">Logout</a>
        </nav>
    </div>
</div>
